<section class="footer">
  <span class="todo-count">
    <strong><%= @all_todos.active.count %></strong> <%= "item".pluralize @all_todos.active.count %> left
  </span>

  <ul class="filters">
    <li>
      <a class="<%= "selected" if @filter == "all" %>" data-reflex="todos#filter" data-reflex-name="all">
        All
      </a>
    </li>
    <li>
      <a class="<%= "selected" if @filter == "active" %>" data-reflex="todos#filter" data-reflex-name="active">
        Active
      </a>
    </li>
    <li>
      <a class="<%= "selected" if @filter == "completed" %>" data-reflex="todos#filter" data-reflex-name="completed">
        Completed
      </a>
    </li>
  </ul>

  <% if @all_todos.completed.any? %>
    <button class="clear-completed" data-reflex="todos#destroy_completed">
      Clear completed
    </button>
  <% end %>
</section>
