<section class="footer">
  <span class="todo-count">
    <strong><%= @active_count %></strong> <%= "item".pluralize(@active_count) %> left
  </span>

  <ul class="filters">
    <li><a class="<%= @filter == "all" ? "selected" : nil %>" data-controller="todos" data-action="click->todos#filter" data-name="all">All</a></li>
    <li><a class="<%= @filter == "active" ? "selected" : nil %>" data-controller="todos" data-action="click->todos#filter" data-name="active">Active</a></li>
    <li><a class="<%= @filter == "completed" ? "selected" : nil %>" data-controller="todos" data-action="click->todos#filter" data-name="completed">Completed</a></li>
  </ul>

  <% if @completed_count > 0 %>
    <button class="clear-completed" data-action="click->todos#destroyCompleted">
      Clear completed
    </button>
  <% end %>
<section>

