<% if todo.id == @edit_id %>
  <li class="editing">
    <input autofocus type="text" class="edit" value="<%= todo.title %>"
      data-action="keypress->todo#cancelEdit blur->todo#cancelEdit"
      data-reflex="todo#update" data-reflex-id="<%= todo.id %>" data-reflex-value
      <%= "checked" if todo.completed? %>>
  </li>
<% else %>
  <li class="<%= "completed" if todo.completed? %>">
    <div class="view">
      <input type="checkbox" class="toggle" data-reflex-id="<%= todo.id %>" data-reflex="click->todo#toggle" <%= "checked" if todo.completed? %>>
      <label data-reflex="click->todo#edit" data-reflex-id="<%= todo.id %>">
        <%= todo.title %>
      </label>
      <button name="button" type="button" class="destroy" data-reflex="todo#destroy" data-reflex-id="<%= todo.id %>" />
    </div>
  </li>
<% end %>
